:root {
	--tab-font: 'DejaVu Sans Mono';
	--urlbar-font: 'DejaVu Sans Mono';
	--uc-font-size: 11px;
	--navbar-height-setting: 24px;
	--tab-min-height: 16px !important;

	--tab-active-bg-color: #057;
	--tab-inactive-bg-color: #333;
	--tab-active-fg-fallback-color: #eee;		/* color of text in an active tab without a container */
	--tab-inactive-fg-fallback-color: #888;		/* color of text in an inactive tab without a container */
	--urlbar-focused-bg-color: #41404c;
	--urlbar-not-focused-bg-color: #1c1b22;
	--toolbar-bgcolor: #2b2a33 !important;
}
